body,
html {
  height: 100%;
  /* background-image: url("../images/menu-background.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-image: url("../images/menu-background.jpg");
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

/*Comment*/
#layout,
#menu,
.menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
  position: relative;
  left: 0;
  padding-left: 0;
}
#layout.active #menu {
  left: 150px;
  width: 150px;
}

#layout.active .menu-link {
  left: 150px;
}
/*
The content `<div>` is where all your content goes.
*/
.content {
  height: 100%;
}

/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
  margin-left: -150px; /* "#menu" width */
  width: 150px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000; /* so the menu or its navicon stays above all content */
  background: rgba(0, 0, 0, 0.4);
  overflow-y: auto;
  opacity: 0.8;
}

/*
    Remove all background/borders, since we are applying them to #menu.
    */
#menu .pure-menu {
  background-color: rgba(1, 192, 255, 0.39);
  padding: 0px;
}

/*
    Add ~that~ light border to separate items into groups.
    */
#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
  border-top: 1px solid #333;
}

/*
        Change color of the anchor links on hover/focus.
        */
#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
  background: #333;
}

/*
    This styles the selected menu item `<li>`.
    */
#menu .pure-menu-selected,
#menu .pure-menu-heading {
  background: black;
}
/*
        This styles a link within a selected menu item `<li>`.
        */
#menu .pure-menu-selected button {
  color: #fff;
}

/*
    This styles the menu heading.
    */
#menu .pure-menu-heading {
  font-size: 110%;
  color: #fff;
  margin: 10px 5px 60px 5px;
  border-radius: 10px;
  padding: 25px;
}

/**/
.menu-link {
  position: relative;
  display: block; /* show this only on small screens */
  top: 0;
  left: 0; /* "#menu width" */
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  font-size: 10px; /* change this value to increase/decrease button size */
  z-index: 1;
  width: 2em;
  height: auto;
  padding: 2.1em 1.6em;
}

.menu-link:hover,
.menu-link:focus {
  background: #000;
}

.menu-link span {
  position: relative;
  display: block;
}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
  background-color: #fff;
  pointer-events: none;
  width: 100%;
  height: 0.2em;
}

.menu-link span:before,
.menu-link span:after {
  position: absolute;
  margin-top: -0.6em;
  content: " ";
}

.menu-link span:after {
  margin-top: 0.6em;
}

.pure-menu-item {
  height: 40px;
  margin: 5px 0 0 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 10px 5px 5px black;
}

.modal-content {
  background-color: #079afc;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 20%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#map {
  height: 720px;
  width: 45%;
  border-radius: 20px;
  float: right;
}

#weather-and-travel {
  background-color: rgb(1, 191, 255, 0.8);
  width: 45%;
  margin: 5px 0 0 0;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-radius: 20px;
  height: 725px;
}

#weather {
  height: 50%;
}

#travel {
  height: 50%;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {
  .header {
    border-left: solid rgb(0, 0, 0) 4px;
    border-right: solid rgb(0, 0, 0) 4px;
    border-bottom: solid rgb(0, 0, 0) 4px;
    padding: 10px 20px;
    background-color: rgb(13, 157, 227);
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    text-align: center;
    font-size: 20px;
  }
  .content {
    padding-left: 2em;
    padding-right: 2em;
    border-top: #000;
    border-left: solid rgb(0, 0, 0) 4px;
    border-right: solid rgb(0, 0, 0) 4px;
    border-bottom: solid rgb(0, 0, 0) 4px;
  }

  #layout {
    /* background-image: url(https://images.unsplash.com/photo-1575380591643-b2c92368dc6d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2t5bGluZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80); */

    /* background-image: url("../images/menu-background.jpg"); */
    background-repeat: no-repeat;
    background-size: 100%;
    padding-left: 150px; /* left col width "#menu" */
    left: 0;
  }
  #menu {
    left: 150px;
    border: rgb(255, 255, 255);
    border-width: 5px;
  }

  .menu-link {
    position: fixed;
    left: 150px;
    display: none;
  }

  #layout.active .menu-link {
    left: 150px;
  }
}

@media (max-width: 48em) {
  /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
  #layout.active {
    position: relative;
    left: 150px;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
  }

  #map {
    width: 100%;
  }

  #weather-and-travel {
    width: 100%;
  }
}
